:root {
  --bright-color: #fff;
  --blue: #1a75ff;
  --secondary-color: #08234c;
}

@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 80afcd */
body {
  background-color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.4;
}

.container {
  /* background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  width: 350px;
  height: 520px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  .container__info {
    @include bottom;
    bottom: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 15px 30px;
    color: var(--bright-color);
    span {
      margin-right: 20px;
      padding: 3px;
    }
    i {
      margin-right: 10px;
    }
  }
  .container:hover {
    transform: scale(1.6);
  }
  .container__profile__text {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    padding: 10px;
    @include bottom();
    bottom: 0;
    font-style: italic;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }
    h2 {
      color: #334454;
      font-size: 1.2rem;
      text-align: left;
    }
    p {
      color: #a1b2bc;
      font-size: 0.8rem;
    }
    p b {
      font-style: italic;
    }
  }
}

/* ************************************** OTHER STYLES ****************************** */
.botCollection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
#BotCollectionTitle,
#BATTLEOFTHEBOTS {
  color: white;
  font-family: cursive;
  font-style: italic;
  font-size: 3rem;
}
.enlist {
  width: 60px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0%;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: transparent;
}
.botArmy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  margin: auto;
}
.container_Army {
  background-color: transparent;
  border: 1px solid var(--blue);
  margin: 2rem 5px;
  height: 270px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
}
.container__profile__Army img {
  width: 160px;
  height: 160px;
  border-radius: 5%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}
.container__profileArmy {
  height: 2rem;
}
#botName {
  color: white;
}
#BATTLEOFTHEBOTS {
  padding: 2rem;
}
.armyBotsContainer {
  background: url("/src/Images/robot.jpg");
  background-repeat: repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}
.enlistAndDelete {
  position: absolute;
  bottom: 3%;
  width: 95%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
